:root {
  /* colours */
  --info: #17a2b8;
}

/* universal */
* {
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
}

/* body colour */
body {
  background-color: rgb(238, 238, 238);
}

/* nav style */
.portfolio-tag {
  color: var(--info);
  font-family: "Allison", cursive;
  font-size: 50px;
}

.navbar {
  opacity: 90%;
}

.nav-item a:hover {
  color: var(--info) !important;
}

/* buttons */
.btn:hover {
  box-shadow: 3px 3px 5px grey;
}

/* contact style */
.contact-card-body {
  border-left: 1px solid var(--info);
}

/* footer */
.bootstrap-link {
  text-decoration: none;
  color: var(--info);
}

.bootstrap-link:hover {
  text-decoration: underline;
}

.top-button:hover {
  box-shadow: 3px 3px 3px grey;
}
